<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <title></title>
  </head>

  <body>
    <section class="computer">
      <header class="barInicio2">
        <div >
          <a class="inicio" href="../index.html">Inicio</a>
          <img src="../assets/img/imagencentro.png" alt="imagen centro">
          <a class="instrucciones" href="#">Instrucciones</a>
        </div>
      </header>

    <section class="buttonc">
      <section class="autobotsc">
        <h1>Selecciona a tu transformer</h1>
          <form class="jugador">
            <label for="optimusc" class="optimusc">
              <h2>Optimus</h2>
            </label>
            <label for="bumblebeec" class="bumblebeec">
              <h2>Bumblebee</h2>
            </label>
            <label for="hound" class="hound">
              <h2>Hound</h2>
            </label>

            <input id="optimusc" name="autobotc" type="radio" value="optimusc">
            <input id="bumblebeec" name="autobotc" type="radio" value="bumblebeec">
            <input id="hound" name="autobotc" type="radio" value="hound">
          </form>
      </section>

    <footer class="finc">
      <p>Hay misterios en el universo que nunca comprenderemos. Pero quienes somos y porque estamos aquí. No es uno de ellos. Esas respuestas, las llevamos por dentro. Yo soy un Autobot. Y este mensaje es para mis creadores. Dejen el planeta tierra en paz. Porque ya voy por ustedes.</p>
    </footer>
    </section>
    </section>

    <section class="computer2 hidden">
      <header class="barInicio2">
        <div >
          <a class="inicio" href="../index.html">Inicio</a>
          <img src="../assets/img/imagencentro.png" alt="imagen centro">
          <a class="instrucciones" href="#">Instrucciones</a>
        </div>
      </header>

      <article class="resultados">
        <img class="results__img optimus-win hidden" src="../assets/img/optimus-winer.jpeg" alt="">
        <img class="results__img bumble-win hidden" src="../assets/img/bumble-winer.jpg" alt="">
        <img class="results__img hound-win hidden" src="../assets/img/houn-winer.png" alt="">

        <img class="results__img optimus-dead hidden" src="../assets/img/dead.gif" alt="">
        <img class="results__img bumble-dead hidden" src="../assets/img/dead.gif" alt="">
        <img class="results__img hound-dead hidden" src="../assets/img/dead.gif" alt="">

        <img class="results__img optimus-tied hidden" src="../assets/img/optimustie.gif" alt="">
        <img class="results__img bumble-tied hidden" src="../assets/img/bumbletie.gif" alt="">
        <img class="results__img hound-tied hidden" src="../assets/img/houndtie.gif" alt="">

      </article>
    </section>

  <script src="../assets/scripts.js"></script>
  </body>
</html>
