<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <title></title>
  </head>

  <body class="pagina1">
    <header class="barInicio">
      <div >
        <a class="inicio" href="../index.html">Inicio</a>
        <img src="../assets/img/imagencentro.png" alt="imagen centro">
        <a class="instrucciones" href="#">Instrucciones</a>
      </div>
    </header>

    <section class="botones">
      <a class="pvp" href="pvp.html">
        Autobots VS Decepticons
      </a>
      <a class="pvc" href="#">
        Derrota a Quintessa
      </a>
    </section>
    <footer class="fin">
      <p>Es tiempo de ser un heroe, el futuro de la humanidad esta en tus manos</p>
    </footer>
  </body>
</html>
