<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <title></title>
  </head>
  <body class="ppvp">
    <header class="barInicio2">
      <div >
        <a class="inicio" href="../index.html">Inicio</a>
        <img src="../assets/img/imagencentro.png" alt="imagen centro">
        <a class="instrucciones" href="#">Instrucciones</a>
      </div>
    </header>

    <section class="autobots">
      <h1>Autobots</h1>
        <form class="jugador1">
          <label for="optimus" class="optimus">
            <h2>Optimus</h2>
          </label>
          <label for="bumblebee" class="bumblebee">
            <h2>Bumblebee</h2>
          </label>
          <label for="ironhead" class="ironhead">
            <h2>Ironhide</h2>
          </label>

          <input id="optimus" name="autobot" type="radio" value="optimus">
          <input id="bumblebee" name="autobot" type="radio" value="bumblebee">
          <input id="ironhead" name="autobot" type="radio" value="ironhead">
        </form>
    </section>

    <section class="decepticons">
      <h1>Decepticons</h1>
        <form class="jugador2">
          <label for="megatron" class="megatron">
            <h2>Megatron</h2>
          </label>
          <label for="starscream" class="starscream">
            <h2>Starscream</h2>
          </label>
          <label for="baricade" class="baricade">
            <h2>Barricade</h2>
          </label>

          <input id="megatron" name="autobot" type="radio" value="megatron">
          <input id="starscream" name="autobot" type="radio" value="starscream">
          <input id="baricade" name="autobot" type="radio" value="baricade">
        </form>
    </section>
    <footer class="fin">
      <p>Es tiempo de ser un heroe, el futuro de la humanidad esta en tus manos</p>
    </footer>
  </body>
</html>
