/* *{
  border: 1px solid red;
} */
@font-face {
  font-family: transformers;
  src :url("fonts/transfrm.ttf");
}
body {
  background-image:url("img/transformers.jpg");
  background-position: center;
  background-size: cover;
  font-family: transformers;
  width: 100%;
  height: 100vh;
}
 header{
   padding: 150px;
 }
h2 {
  text-align: center;
  color: #39393A;
  font-size: 50px;
}
.boton{
  text-align: center;
}
.botonPlay {
  background-color: #f2f2f2;
  border: 15px solid transparent;
  font-family: transformers;
  font-size: 40px;
  font-weight: bold;
  border-radius: 40px;
  color: #39393A;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.botonPlay:hover{
  color: red;
  border-color: #4c4b4b;
}
/* PAGINA1 */
.pagina1 {
  background-image:url("img/fondo1.jpg");
  background-position: center;
  background-size: cover;
  font-family: transformers;
  width: 100%;
  height: 100vh;
}

/* BARRA DE INICIO */
.barInicio {
 padding: 10px;
}
.barInicio img{
 width: 100px;
 margin-left: 600px;
}
.inicio{
 text-decoration: none;
 font-size: 20px;
 margin-left: 10px;
 float: left;
 color: #39393A;
}
.instrucciones{
 text-decoration: none;
 font-size: 20px;
 margin-right: 10px;
 float: right;
 color: #39393A;
}
.inicio:hover{
 color: red;
 border-color: #4c4b4b;
}
.instrucciones:hover{
 color: red;
 border-color: #4c4b4b;
}

.botones{
display: flex;
justify-content:space-around;
}
.pvp{
 display: flex;
 background-image: url("img/pvp.jpg");
 width: 500px;
 height: 400px;
 background-size: cover;
 align-items:center;
 justify-content:center;
 color: white;
}

.pvc{
 display: flex;
 background-image: url("img/pvc.png");
 width: 500px;
 height: 400px;
 background-size: cover;
 align-items:center;
 justify-content:center;
 float: right;
 color: white;
}
.fin{
bottom: 0;
height: 100px;
position: absolute;
width: 100%;
}
.fin p{
 display: flex;
 align-items:flex-end;
 justify-content: space-around;
 text-align: center;
 color: #39393A;
 font-size: 30px;
}


/* PAGINA PVP */
.ppvp {
  background-image:url("img/fondopvp.jpg");
  background-size: cover;
  font-family: transformers;
  width: 100%;
  height: 100vh;
}

.barInicio2 {
 padding: 10px;
}
.barInicio2 img{
 width: 100px;
 margin-left: 600px;
}

.barInicio2 a{
  color: white;
}
.autobots {
  color: white;
}

.autobots h2{
  color: white;
}

input {
  display: none;
}

label {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  background-size: cover;
  cursor: pointer;
}

label:hover {
  box-shadow: 2px 5px 5px gray;
  transform: translateY(-2px);
}

.optimus {
  background-image:url("img/optimus.jpg");
}

.bumblebee {
  background-image:url("img/bumblebee.jpg");
}

.ironhead {
  background-image:url("img/ironhead.jpg");
}

.decepticons {
  color: white;
}

.decepticons h2{
  color: white;
}

input {
  display: none;
}

label {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  background-size: cover;
  cursor: pointer;
}

label:hover {
  box-shadow: 2px 5px 5px gray;
  transform: translateY(-2px);
}

.megatron {
  background-image:url("img/megatron.jpg");
}

.starscream {
  background-image:url("img/starscream.jpeg");
}

.baricade {
  background-image:url("img/baricade.png");
}
